.what-heading, .what-contact-btn{
    color: #00263E;
}

.what-para{
    text-align: left;
}

.what-contact-btn{
    font-size: 16px;
    font-weight: 600;
    display:flex;
    align-items: center;
}

.what-contact-btn .MuiSvgIcon-root{
    font-size: 16px;
    fill:#00263E;
}